USE [master]
GO
/****** Object:  Database [ETrade]    Script Date: 31/01/2021 2:05:14 PM ******/
CREATE DATABASE [ETrade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETrade', FILENAME = N'C:\Users\fatih\ETrade.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETrade_log', FILENAME = N'C:\Users\fatih\ETrade_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETrade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETrade]
GO
USE [ETrade]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31/01/2021 2:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 31/01/2021 2:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 31/01/2021 2:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ProductPicture] [nvarchar](max) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[StockCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (1, N'Giyim')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (2, N'Elektronik')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (3, N'Ev')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [ProductPicture], [UnitPrice], [StockCount]) VALUES (7, 6, N'Hayata Dön', N'Remzi kitabevi', N'kitap1.png', CAST(35.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [ProductPicture], [UnitPrice], [StockCount]) VALUES (8, 7, N'Firelli Lastik', N'Kışlık lastik', N'lastik.png', CAST(400.00 AS Decimal(18, 2)), 175)
INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [ProductPicture], [UnitPrice], [StockCount]) VALUES (10, 3, N'Koltuk', N'Yeşil konforlu koltuk', N'koltuk.png', CAST(1500.00 AS Decimal(18, 2)), 15)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 31/01/2021 2:05:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
USE [master]
GO
